@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: ExtendedBold;
    src: url(MonumentExtended-Ultrabold.otf);
  }

  @font-face {
    font-family: ExtendedRegular;
    src: url(MonumentExtended-Regular.otf);
  }
}
